/* Accueil */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Festive&family=Raleway:wght@200;400;800&display=swap');
:root{
    --main-color:rgb(255, 0, 55);
}
body{
    margin: 0; 
    font-family: "Raleway",sans-serif;
    --header-height:6rem;
    --footer-height:5rem;
}
button,input{
    border: none;
    margin: 16px 0;
}
.wrapper{
    width: 100%;
    /* min-height: 100vh; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.a_reset{
    text-decoration: none;
    color: inherit;
}
.header{
    height: var(--header-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main_nav{
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    margin-bottom: .7rem;
}
.main_nav a{
    text-decoration: inherit;
    font-family: inherit;
    margin: 8px;
    color: black;
    font-weight: 400;
}
.main_nav a:hover{
    text-decoration: inherit;
    text-decoration: underline dotted 1px black;
}
.main_nav a:focus{
    outline: none;
    text-decoration: inherit;
    text-decoration: underline dotted 2px black;
}
.header__separator{
    justify-self: flex-end;
    height: 1px;
    width: 100%;
    background-image: linear-gradient(90deg, #FFFDD800 10%,var(--main-color) 50%,#FFFDD800 90%);
}
main{
    min-height:calc(100vh - var(--header-height) - var(--footer-height));
}
.main__formwrapper{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
}
.form_startgame input{
background-color: whitesmoke;
padding: .5rem;
margin: 8px 0 16px 0;
}
.form_startgame label{
   font-size: .8rem; 
   font-weight: 400;
}
.index_button{
    background-color: var(--main-color);
    padding: 1rem;
    color: white;
}
.title{
    text-align: center;
    font-size: 2.2rem;
    font-family: "Righteous",serif;
    margin: 0;
    color: var(--main-color);
}
.title__baseline{
    /* font-style: italic; */
    font-size: .8em;
    font-weight: 200;
    font-family: "Raleway";
    color: black;
}
.footer{
    width: 100%;
    height: var(--footer-height);
    text-align: center;
    background-color: gray;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_startgame__card{
    display: flex;
flex-direction: column;
margin: 16px;
padding: 2rem;
background-color: white;
box-shadow: 10px 10px 10px #00000010;
align-items: center;
/* background-color: whitesmoke; */
}
.card__pic{
    width:100%;
    padding: .5rem;
}
.card__name{
text-align: center;
}
.card__city{
font-style: italic;
font-size: .8em;
}
.toggleTestBox{
    /* box-shadow: 10px 10px 10px #00000010; */
    background-color: whitesmoke;
    border-radius: 1.5rem;
    padding:1.5rem;
}